.App {
  background: url('https://www.tokkoro.com/picsup/2627427-smurfs-the-lost-village-4k-large-wallpaper-for-desktop.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;
  padding-top: 20px;
}

Form.ui.form{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}
input{
  margin: 5px 0 !important;
}

button.ui.button{
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}

.cards{
  display: flex!important;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
}

div.ui.card{
  width: 271.75px;
  margin: 5px;
  opacity: 0.8;
}